html, body{
    margin: 0px;
    max-width: 1920px;
    height: 100%;
}
.body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /*justify-content: center;*/
}

.wrapper{
    flex-grow: 1;
}

/*navigation*/
header{
    position: fixed;
    top: 0;
    z-index: 10;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    box-shadow: 0px 0px 10px #66666650;
}
.nav{
    flex:auto;
    display: flex;
    align-items: center;
    height: 54px;
    background-color: white;
    max-width: 1200px;
}

.nav-title{
    width: 120px;
    margin-left: 5px;
    color: #448899;
}
.nav-list{
    flex: auto;
    justify-content: flex-end;
    display: flex;
}
.nav-list-item{
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    white-space:nowrap;
}


/*search*/

.search{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 320px;
    background-image: url('img/welcome.png');
    background-size: cover;
    margin-top: 54px;
    background-position: center center
}
.search-form{
    margin-left: 5px;
    flex:auto;
    max-width: 1200px;
}
.search-form *{
    color: white;
}
.search-form p{
    font-size: 16px;
}
.search-form-input{
    display: flex;
}
.search-form-input input{
    padding: 0;
    border: 0;
    border-radius: 5px 0% 0% 5px;
    height: 46px;
    width: 400px ;
    color: #666666;
    text-indent: 10px;
}
.search-form-svg{
    height: 46px;
    width: 60px;
    border: 0;
    border-radius: 0% 5px 5px 0%;
    background-color: #448899;
    cursor: pointer;
}

/*main*/
/*listbar*/
.listBar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.listBar-box{
    display: flex;
    align-items: center;
    max-width: 1200px;
    width: 100%;
}
.arrow{
    border:solid #448899;
    border-width: 0px 2px 2px 0px;
    display: inline-block;
    padding: 2px;
    margin:0;
    width: 3px;
    height: 3px;

}
.left{
    transform: rotate(135deg);
    margin-left: 2px;
}
.right{
    transform: rotate(-45deg);
    margin-right: 2px;
}
.listBar-left-buttom{
    flex: none;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: 2px solid #448899;
    background-color: white;
    position: relative;
    left: 10px;
    cursor: pointer;
}
.listBar-left-buttom:hover{
    transition: 0.25s;
    background-color: #00000025;
    width: 35px;
    height: 35px;
}
.listBar-right-buttom{
    flex: none;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: 2px solid #448899;
    background-color: white;
    position: relative;
    right: 10px;
    cursor: pointer;
}
.listBar-right-buttom:hover{
    transition: 0.25s;
    background-color: #00000025;
    width: 35px;
    height: 35px;
}
.listBar-mrt{
    margin-left: 10px;
    flex: auto;
    display: flex;
    width: 100%;
    align-items: center;
    overflow: auto;
    white-space: nowrap;
    margin-right: 10px;
}
.listBar-mrt::-webkit-scrollbar{
    display:none;
}
.listBar-mrt-item{
    font-size: 16px;
    color: #666666;
    margin: 4px;
    writing-mode:horizontal-tb;
    display: inline-block;

}

/*attraction*/
.attraction{
    display: flex;
    justify-content: center;
    align-items: center;
}
.attraction-box{
    flex: auto;
    max-width: 1150px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    align-content: center;
    gap: 15px;
    margin: 5px 10px;
}
.attraction-card{
    background-color: antiquewhite;
    background-size: cover;
    width: 100%;
    height: 197px;
    border-radius: 5px;
    position: relative;
    border: solid 1px #E8E8E8 ;
}
.attraction-card-box{
    width: 100%;
    position: absolute;
    bottom: 0px;
}
.attraction-card-item1{
    background-color:  rgba(69, 69, 69, 0.541);
    color: white;
    width:100%;
    height: 40px;
    display: flex;
    align-items: center;
    position: relative;
}
.attraction-card-item1 p {
    position: absolute;
    left: 5px;
    color: white;
}
.attraction-card-item2{
    background-color:  white;
    color: #757575;
    width:100%;
    height: 40px;
    border-radius: 0px 0px 4px 4px;
    display: flex;
    align-items: center;
    position: relative;
}
.loc{
    flex: none;
    position:absolute;
    left: 5px;
}
.cat{
    position:absolute;
    right: 5px;
}

/*signin signup*/
.signin{
    display: flex;
    justify-content: center;
}

.signin-box{
    position: fixed;
    top: 80px;
    width: 340px;
    height: 265px;
    background-color: #ffffff;
    display: none;
    justify-content: center;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0px 0px 15px #666666;
    z-index: 10000;
    
}
.signin-form > h3{
    font-size: 24px;
    color: #666666;
    margin: 5px;
    text-align: center;
}
.signin-topbar{
    position: relative;
    top: -10px;
    height: 10px;
    width: 340px;
    background-color: #448899;
    border-radius: 5px 5px 0px 0px ;
}

.signinup-back{
    background-color:#66666600;
    border: 0;
    position: absolute;
    left: 280px;
    top: 5px;
    cursor: pointer;
}
.signin input{
    width: 310px;
    height: 47px;
    border-radius: 5px;
    padding: 0;
    border: solid 0.5px #CCCCCC;
    margin: 5px 15px;;
}
.signinup-handout{
    width: 310px;
    height: 47px;
    border-radius: 5px;
    padding: 0;
    border: none;
    border: solid 0.5px #448899;
    background-color: #448899;
    color: white;
    margin: 5px 15px;
    font-size: 19px;
    cursor: pointer;
}
.signin-form > p{
    font-size: 16px;
    color: #666666;
    margin: 5px;
    text-align: center;
    cursor: pointer;
}

/*signup*/
.signup{
    display: flex;
    justify-content: center;
}

.signup-box{
    position: fixed;
    top: 80px;
    width: 340px;
    height: 332px;
    background-color: #ffffff;
    display: none;
    justify-content: center;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0px 0px 15px #666666;
    z-index: 10000;
}
.signup-form > h3{
    font-size: 24px;
    color: #666666;
    margin: 5px;
    text-align: center;
}
.signup-topbar{
    position: relative;
    top: -10px;
    height: 10px;
    width: 340px;
    background-color: #448899;
    border-radius: 5px 5px 0px 0px ;
}

.signup-back{
    background-color:#66666600;
    border: 0;
    position: absolute;
    left: 280px;
    top: 5px
}
.signup input{
    width: 310px;
    height: 47px;
    border-radius: 5px;
    padding: 0;
    border: solid 0.5px #CCCCCC;
    margin: 5px 15px;
    
}
.signup-form > p{
    font-size: 16px;
    color: #666666;
    margin: 5px;
    text-align: center;
    cursor:pointer;
}
.overlay{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000025 ;
    z-index: 9999;
    display: none;
}
/*--------------Attraction.html-----------------*/

.profile{
    display: flex;
    justify-content: center;
}
.profile > div{
    color:#666666;
}
.attraction-intro{
    flex: auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 65px;
    margin-left: 10px;
    margin-right: 10px;
    gap: 2%;
    position: relative;
}

/*-----Attraction IMG------*/
.attraction-intro-imgButtom{
    flex: none;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: 2px solid #448899;
    background-color: #ffffffae;
    cursor: pointer;
}
.attraction-intro-imgButtom:hover{
    transition: 0.25s;
    background-color: #ffffffe1;
    width: 35px;
    height: 35px;
}
.imgleft{
    position: absolute;
    top: 50%;
    left: 10px;
}.imgright{
    position: absolute;
    top: 50%;
    right: 10px;
}
/*輪播照片*/
.attraction-intro-img{
    background-color: #00000025;
    max-width: 600px;
    height: 406px;
    display: flex;
    align-content: center;
    position: relative;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #66666650;
    overflow: hidden;
}
.attraction-intro-img-container{
    width: 100%;
    height: auto;
    display: flex;
    transition: transform 1s ease-in-out;
}
.attraction-intro-img-carouselIMG{
    min-width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display:none;/*預設看不到*/
}
.attraction-intro-img-carouselIMG.active{
    display: block; 
}
.attraction-intro-img-indicators{
    display: flex;
    justify-content: center;
    position:absolute;
    bottom: 10px;
    width: 100%;
}
.attraction-intro-img-indicator{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ffffff5b;
    cursor: pointer;
    margin: 5px;
    
}
.attraction-intro-img-indicator.active{
    width: 14px;
    height: 14px;
    background-color: #448899;
    box-shadow: 0px 0px 8px #ffffff;
}


/*------Intro-Info---------*/


.attraction-intro-info h3{
    font-size: 24px;
    margin-block-start: 3px;
    margin-block-end: 5px;
    margin-left: 5px;
}
.attraction-intro-info-content{
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 16px;
}
.attraction-intro-info-form {
    background-color: #E8E8E8;
    max-width: 600px;
    height: 304px;
    border-radius: 5px;
    display: flex;
    padding:10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px #66666650;

}
.attraction-intro-info-form form{
    margin-left:15px;
    margin-right: 15px;
    height: 100%;
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.attraction-intro-info-form form  p{
    font-weight: normal;
    margin-block-start: 0;
    margin-block-end: 0;
}
.attraction-intro-info-form form > div{
    font-weight: bold;
}
.datetype label{
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.datetype input[type='radio']{
    height: 20px;
    width: 20px;
    cursor: pointer;
}
.datetype input[type='radio']:checked {
    background-color: #448899;
    border: 2px solid #448899;
  }

.attraction-intro-info-form button{
    height: 36px;
    width:100%;
    border: 0;
    border-radius: 5px;
    background-color: #448899;
    cursor: pointer;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 19px;
    font-weight: normal;
}

.date input{
    border: 0;
    width: 190px;
    height: 35px;
    padding: 2px;
    border-radius: 5px;
}

::-webkit-calendar-picker-indicator{
    height: 25px;
    width: 25px;

}
.datetype{
    display: flex;
}
.fee{
    display: flex;
}


/*-----Detail-----*/

.middleLine{
    max-width: 1200px;
    border: 1px solid #E8E8E8;
    width: 98vw;
    margin-top: 30px;
    margin-bottom: 30px;
}
.attraction-detail{
    display: flex;
    margin: 10px;
    justify-content: center;
}

.attraction-detail > div{
    color: #666666;
}

.attraction-detail-box{
    margin-left: 5px;
    max-width: 1200px;
    flex: auto;

}

.attraction-detail-box div{
    padding: 10px;
    font-weight: bold;
}

.attraction-detail-box p{
    margin-block-start: 5px;
    margin-block-end: 0px;
    font-weight: normal;
}



/*footer*/
.footer{
    height: 104px;
    width: 100%;
    background-color: #448899;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex-shrink: 0;
    box-shadow: 0px 0px 10px #66666650;
}
.footer-text{
    color: white;
}



/*RWD*/
@media(max-width:768px){
    .attraction-box{
        grid-template-columns: repeat(3,1fr);
    }
}
@media(max-width:540px){
    .attraction-box{
        grid-template-columns: repeat(2,1fr); 
    }
    .attraction-intro{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }
    .search-form-input input{
        width: 255px;
        height: 46px;
    }
    .search-form-svg{
        width: 60px;
        height: 46px;
    }
}

@media(max-width:375px)and (min-width:300px){
    .attraction-box{
        grid-template-columns: repeat(1,1fr); 
    }
    .attraction-intro{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }
}